<div class="landing-inner">
  <section class="landing-section-1">
    <h1>{{ "evelia gil paredes " | uppercase }}</h1>
    <p class="subtitle">Fullstack developer</p>
    <p>{{ "PAGES.ABOUT.DESCRIPTION" | translate }}</p>
  </section>
  <section class="landing-section-2">
    <app-navbar></app-navbar>
  </section>
  <section class="landing-section-3 social-links">
    <a
      href="https://github.com/egilp04"
      target="_blank"
      rel="noopener"
      aria-label="GitHub"
    >
      github
    </a>

    <a
      href="https://www.linkedin.com/in/evelia-gil-paredes/"
      target="_blank"
      rel="noopener"
      aria-label="LinkedIn"
    >
      linkeding
    </a>
    <a
      href="https://www.instagram.com/eeveenax"
      target="_blank"
      rel="noopener"
      aria-label="Instagram"
    >
      instagram
    </a>
  </section>
</div>
