<div class="landing-inner">
  <div class="landing-section-container">
    <section class="landing-section-1">
      <div class="title-container">
        <h1>{{ "evelia gil paredes " | uppercase }}</h1>
        <p class="subtitle">Fullstack developer</p>
      </div>
      <p class="landing-desc">{{ "PAGES.LANDING.DESCRIPTION" | translate }}</p>
    </section>
    <section class="landing-section-2">
      <app-navbar></app-navbar>
    </section>
  </div>
  <section class="landing-section-3 social-links">
    <a
      #github
      href="https://github.com/egilp04"
      target="_blank"
      rel="noopener"
      aria-label="GitHub"
      (mousemove)="activateMagnet($event, github)"
      (mouseleave)="resetMagnet(github)"
    >
      <img src="assets/icons/github.png" alt="GitHub" />
    </a>

    <a
      #linkedin
      href="https://www.linkedin.com/in/evelia-gil-paredes/"
      target="_blank"
      rel="noopener"
      aria-label="LinkedIn"
      (mousemove)="activateMagnet($event, linkedin)"
      (mouseleave)="resetMagnet(linkedin)"
    >
      <img src="assets/icons/linkedin.png" alt="Linkedin" />
    </a>

    <a
      #instagram
      href="https://www.instagram.com/eeveenax"
      target="_blank"
      rel="noopener"
      aria-label="Instagram"
      (mousemove)="activateMagnet($event, instagram)"
      (mouseleave)="resetMagnet(instagram)"
    >
      <img src="assets/icons/instagram.png" alt="Instagram" />
    </a>
  </section>
</div>
