<div class="navbar">
  <p-menu [model]="items">
    <ng-template pTemplate="item" let-item>
      <a
        [routerLink]="item.routerLink"
        routerLinkActive="active-link"
        class="menu-link"
      >
        <span class="navbar-items">
          {{ item.label | translate }}
        </span>
      </a>
    </ng-template>
  </p-menu>

  <div class="lang-switch">
    <button (click)="changeLang('es')">ES</button>
    <button (click)="changeLang('en')">EN</button>
    <button (click)="changeLang('de')">DE</button>
  </div>
  <div class="theme-switch">
    <app-dark-mode></app-dark-mode>
  </div>
</div>
