<h1>{{ "PAGES.CONTACT.TITLE" | translate | titlecase }}</h1>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form-container">
  <div class="formulario-divs">
    <label for="firstName">{{ "PAGES.CONTACT.INPUTS.NAME" | translate }}</label>
    <input
      type="text"
      formControlName="firstName"
      autocomplete="off"
      id="firstName"
      class="contact-input"
      [placeholder]="'PAGES.CONTACT.INPUTS.NAME' | translate"
    />
    @if (
      contactForm.get("firstName")?.touched &&
      contactForm.get("firstName")?.invalid
    ) {
      <p>{{ "PAGES.CONTACT.ERROR.NAME" | translate }}</p>
    }
  </div>
  <div class="formulario-divs">
    <label for="lastName">{{
      "PAGES.CONTACT.INPUTS.SURNAME" | translate
    }}</label>
    <input
      type="text"
      formControlName="lastName"
      autocomplete="off"
      id="lastName"
      [placeholder]="'PAGES.CONTACT.INPUTS.SURNAME' | translate"
      class="contact-input"
    />
    @if (
      contactForm.get("lastName")?.touched &&
      contactForm.get("lastName")?.invalid
    ) {
      <p>{{ "PAGES.CONTACT.ERROR.SURNAME" | translate }}</p>
    }
  </div>
  <div class="formulario-divs">
    <label for="email">{{
      "PAGES.CONTACT.INPUTS.DIRECTION" | translate
    }}</label>
    <input
      type="text"
      formControlName="email"
      autocomplete="off"
      id="email"
      [placeholder]="'PAGES.CONTACT.INPUTS.DIRECTION' | translate"
      class="contact-input"
    />
    @if (
      contactForm.get("email")?.touched && contactForm.get("email")?.invalid
    ) {
      <p>{{ "PAGES.CONTACT.ERROR.DIRECTION" | translate }}</p>
    }
  </div>
  <div class="formulario-divs">
    <label for="message">{{
      "PAGES.CONTACT.INPUTS.MESSAGE" | translate
    }}</label>
    <textarea
      formControlName="message"
      id="message"
      [placeholder]="'PAGES.CONTACT.INPUTS.MESSAGE' | translate"
      class="contact-input"
    >
    </textarea>
    @if (
      contactForm.get("message")?.touched && contactForm.get("message")?.invalid
    ) {
      <p>{{ "PAGES.CONTACT.ERROR.MESSAGE" | translate }}</p>
    }
  </div>
  <button type="submit">{{ "PAGES.CONTACT.BUTTON.SEND" | translate }}</button>
</form>
