main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: var(--font-h1-sm);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-30);
  width: 100%;
  padding: var(--padding-30) 0px;
}

.formulario-divs {
  display: flex;
  flex-direction: column;
  gap: var(--gap-4);
  text-align: left;
}

.formulario-divs label {
  font-size: var(--font-label-sm);
  color: var(--color-primary);
}

.contact-input {
  width: 100%;
  padding: var(--padding-10);
  border-radius: var(--border-radius-input);
  border: 1px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
}

.contact-input::placeholder {
  color: var(--color-secondary);
}

.text-red-800 {
  font-size: var(--font-label-sm);
  color: var(--color-accent);
}

.form-container button {
  margin-top: var(--margin-20);
  align-self: center;
  border-radius: var(--border-radius-input);
  border: none;

  background-color: var(--color-primary);
  color: var(--color-base);
  font-size: var(--font-button-md);
  cursor: pointer;
}

@media (min-width: 480px) {
  h1 {
    font-size: var(--font-h1-md);
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: var(--font-h1-lg);
    margin: var(--margin-40) 0;
  }

  .form-container {
    gap: var(--gap-50);
  }

  .form-container > button {
    grid-area: submit;
    justify-self: center;
  }
}
