.projects-container {
  width: 100%;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-30);
  margin-top: var(--margin-20);
}

@media (min-width: 600px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-40);
  }
}

@media (min-width: 1600px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
