.projects-container {
  width: 100%;
  margin-top: 4rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-30);
  margin-top: var(--margin-20);
}

.filter-container {
  display: flex;
  padding: var(--padding-20);
  flex-direction: column;
  > * {
    flex: 1 1 0%;
    min-width: 0;
  }
}

@media (min-width: 1200px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-10);
  }

  .filter-container {
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-30);
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-30);
  }
}

@media (min-width: 1600px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-20);
  }
}
