<h1>{{ "PAGES.DASHBOARD_ADMIN.TITLE" | translate }}</h1>

@if (!isDataReady()) {
  <div class="cargando-estadisticas">
    <mat-spinner diameter="100"></mat-spinner>
    <p>{{ "PAGES.DASHBOARD_ADMIN.CHARGING" | translate }}</p>
  </div>
} @else {
  <section class="estadisticas">
    <section class="chart-section">
      <app-bar-char
        title="PAGES.DASHBOARD_ADMIN.CHARS.TYPE"
        [labels]="typeStats().labels"
        [values]="typeStats().values"
        [colors]="['#b455a0', '#9c4dcc', '#7c4dff']"
      />
    </section>

    <section class="chart-section">
      <app-bar-char
        title="PAGES.DASHBOARD_ADMIN.CHARS.TECH"
        [labels]="techStats().labels"
        [values]="techStats().values"
        [colors]="['#ff9800', '#ffc107', '#ffeb3b', '#cddc39']"
      />
    </section>
  </section>
}
