<section class="about">
  <header class="about-intro">
    <h2>{{ "PAGES.ABOUT.TITLE" | translate }}</h2>
    <p>{{ "PAGES.ABOUT.DESCRIPTION" | translate }}</p>
  </header>

  <div class="timeline">
    @for (key of timelineKeys; track key) {
      <div class="timeline-item" #timelineItem>
        <div class="item-content">
          <span class="date">{{
            "PAGES.ABOUT.TIMELINE." + key + ".DATE" | translate
          }}</span>
          <p>{{ "PAGES.ABOUT.TIMELINE." + key + ".TEXT" | translate }}</p>
        </div>
      </div>
    }
  </div>
</section>
