<section class="about">
  <header class="about-intro">
    <h2>{{ "PAGES.ABOUT.TITLE" | translate }}</h2>
    <p>
      {{ "PAGES.ABOUT.DESCRIPTION" | translate }}
    </p>
  </header>

  <div class="timeline">
    <div class="timeline-item">
      <span class="timeline-date">
        {{ "PAGES.ABOUT.TIMELINE.MUNSTER.DATE" | translate }}
      </span>
      <p class="timeline-text">
        {{ "PAGES.ABOUT.TIMELINE.MUNSTER.TEXT" | translate }}
      </p>
    </div>

    <div class="timeline-item">
      <span class="timeline-date">
        {{ "PAGES.ABOUT.TIMELINE.CORDOBA.DATE" | translate }}
      </span>
      <p class="timeline-text">
        {{ "PAGES.ABOUT.TIMELINE.CORDOBA.TEXT" | translate }}
      </p>
    </div>

    <div class="timeline-item">
      <span class="timeline-date">
        {{ "PAGES.ABOUT.TIMELINE.NOW.DATE" | translate }}
      </span>
      <p class="timeline-text">
        {{ "PAGES.ABOUT.TIMELINE.NOW.TEXT" | translate }}
      </p>
    </div>
  </div>
</section>
