<section class="about">
  <header class="about-intro">
    <h1>{{ "PAGES.ABOUT.TITLE" | translate }}</h1>

    <p>
      {{
        "PAGES.ABOUT.DESCRIPTION"
          | translate: { value: ("2024" | anioExperiencia) }
      }}
    </p>
  </header>

  <div class="timeline">
    @for (key of timelineKeys; track key) {
      <div class="timeline-item" #timelineItem>
        <div class="item-content">
          <span class="date">{{
            "PAGES.ABOUT.TIMELINE." + key + ".DATE" | translate
          }}</span>
          <p>{{ "PAGES.ABOUT.TIMELINE." + key + ".TEXT" | translate }}</p>
        </div>
      </div>
    }
  </div>

  <div class="stack-tecnolgico">
    <app-carrousel [data]="techStack"></app-carrousel>
  </div>
</section>
