.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
.landing {
  width: 100%;
  background-color: var(--color-base);
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.landing > app-landing {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content {
  width: 100%;
  padding: var(--padding-24);
}

@media (min-width: 480px) {
  .content {
    padding: var(--padding-40);
  }
}

@media (min-width: 768px) {
  .app-layout {
    flex-direction: row;
  }

  .landing {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 48%;
  }

  .landing > app-landing {
    height: 100%;
  }

  .content {
    flex: 1;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (min-width: 1200px) {
  .app-layout {
    flex-direction: row;
  }

  .landing {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 48%;
  }

  .landing > app-landing {
    height: 100%;
  }

  .content {
    flex: 1;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (min-width: 1600px) {
  .content {
    padding: var(--padding-60);
  }
}
