<div class="page">
  <h1>{{ "PAGES.REGISTER.TITLE" | translate | titlecase }}</h1>

  <form
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()"
    class="form-container"
  >
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>
        {{ "PAGES.REGISTER.INPUTS.NAME" | translate }}
      </mat-label>

      <input
        matInput
        type="text"
        formControlName="firstName"
        autocomplete="username"
      />

      @if (
        profileForm.get("firstName")?.touched &&
        profileForm.get("firstName")?.invalid
      ) {
        <mat-error class="custom-error">
          {{ "PAGES.REGISTER.ERROR.NAME" | translate }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>
        {{ "PAGES.REGISTER.INPUTS.EMAIL" | translate }}
      </mat-label>

      <input
        matInput
        type="text"
        formControlName="email"
        autocomplete="username"
      />

      @if (
        profileForm.get("email")?.touched && profileForm.get("email")?.invalid
      ) {
        <mat-error class="custom-error">
          {{ "PAGES.REGISTER.ERROR.EMAIL" | translate }}
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>
        {{ "PAGES.REGISTER.INPUTS.PASSWORD" | translate }}
      </mat-label>

      <input
        matInput
        type="password"
        formControlName="password"
        autocomplete="current-password"
      />

      @if (
        profileForm.get("password")?.touched &&
        profileForm.get("password")?.invalid
      ) {
        <mat-error class="custom-error">
          {{ "PAGES.REGISTER.ERROR.PASSWORD" | translate }}
        </mat-error>
      }
    </mat-form-field>

    <button type="submit">
      {{ "PAGES.REGISTER.BUTTON.SEND" | translate }}
    </button>
  </form>
</div>
